body {
    font-size: 18px;
}

header, footer {
    background-color: pink;
}

.site-title {
    color: grey;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: greenyellow;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    background-color: darksalmon;
    border: 2px dotted;
}